/* General Styling */
@font-face {
  font-family: 'Cormorant Garamond'; 
  src: url('../Fonts/cormorantGaramond.ttf');
  font-family: 'Higuen Serif'; 
  src: url('../Fonts/higuenSerif.otf');
}


/* Color Scheme */
:root {
  --main-color: #354433; /* Default primary color */
  --second-color: #CBD07C;
} 

*{
  font-family: 'Cormorant Garamond'; /* Univeral Selector */
}

body {
  background-color:var(--main-color);
  margin: 0;
}

p {color: #EFEDE7;
  font-family: 'Cormorant Garamond','Times New Roman', sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
}


.content1 > p::first-letter { /* Pseudo-element Selector */
  font-size: 3.5rem;
}

  
h1 {
  font-family:'Higuen Serif';
  color: var(--second-color);
  font-size: 4.375rem;
  font-weight: lighter;
}


/* Nav Styling */
nav, footer { /* Multiple Selector */
  font-family: 'Cormorant Garamond','Times New Roman', sans-serif;
  overflow: hidden;
  width: 100%;
}

nav ul li a:link, nav ul li a:visited { 
  color:#EFEDE7;
}

nav ul li a:hover{
  color: grey;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

nav ul li {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .5em;
  float: center;
}

nav ul li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 16px 60px;
  text-decoration: none;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* General Button Styling */
.button{
  margin: 50px 10px 10px 10px;
  padding: 10px;
  border-radius: 0.5em;
  background-color: var(--second-color);
  display: inline-block;
  font-family: 'Cormorant Garamond';
  font-weight: bold;
  color: #292b18;
  font-size: 30px;
}
.button a{
  text-decoration: none;
  color: black;
}

/* Color Pallete Button Styling */
button{ 	
  width: 50%;
	padding: 10px;
  margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	background-color: var(--second-color);
	color: #242424;
	cursor: pointer;
	font-size: 1.3rem;
}


/* Image Styling and Sizing  */
/* img[src*="../Pictures/bearBackground.png"]{
  width: 100%;
  height: auto;
} */
#mainImage{
  width: 100%;
  height: auto;
}
img[src*="../Pictures/bearFirst.png"]{
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
img[src*="../Pictures/space.png"]{
  width: 120%;
  height: auto;
}
img[src*="../Pictures/projects.png"]{
  width: 100%;
  height: auto;
}
img[src*="../Pictures/me.png"]{
  width: 60%;
  height: auto;
  border-radius: 20px;
}


/* Responsize Styling */
/* Large Screens (Most laptops) */
@media screen and (min-width: 1000px) { 
  #container{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
    grid-gap: 50px 0 ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto ;
    width: 100%;
    max-width: fit-content;
  }

  .content1{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    margin: 0 10%
  }
  
  .image1{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 100px;
    justify-content: center;
    align-items: center;
  }

  .content2{
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .content3{
    grid-column: 1/2;
    grid-row: 3/4;
    position: relative;
    top: -100px;
  
  }

  .video3{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  
  .content4{
    grid-column: 2/3;
    grid-row: 4/5;
    /* margin: 50px;
    margin: 0 100px; */
    position: relative;
    top: -180px;
  }
  
  .image4{
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px
  }

  .button{
    margin: 30px 10px 10px 10px;
  }
} 

/* Medium Screens (Some laptops, and most tablets and phones) */
@media screen and (max-width: 1000px) and (min-width: 600px){ 
  
  #container{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, auto);
    width: 100%;
    max-width: fit-content;
  }

  .content1{
    grid-row: 1/2;
    text-align: center;
    margin: 0 10%
  }
  
  .image1{
    grid-row: 2/3;
    justify-content: center;
    align-items: center;
  }
  .content2{
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;    
  }
  
  .content3{
    grid-row: 4/5;
    position: relative;
    text-align: center;
  }
  
  .video3{
    grid-row: 5/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .content4{
    grid-row: 6/7;
    text-align: center;
  }
  
  .image4{
    grid-row: 7/8;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img[src*="../Pictures/space.png"]{
    width: 100%;
    height: auto;
  }
  img[src*="../Pictures/bearFirst.png"]{
    width: 190%;
    height: auto;
    border-radius: 20px;
  }

  nav ul li a {
    padding: 16px 20px;
  }
    
} 

/* Small Screens (Mainly phones) */
@media screen and (max-width: 600px) and (min-width: 100px){ 
  
  #container{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, auto);
    width: 100%;
    max-width: fit-content;
  }

  .content1{
    grid-row: 1/2;
    text-align: center;
    margin: 0 10%
  }
  
  .image1{
    grid-row: 2/3;
    justify-content: center;
    align-items: center;
  }
  .content2{
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;    
  }
  
  .content3{
    grid-row: 4/5;
    position: relative;
    text-align: center;
  }
  .video3{
    grid-row: 5/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .content4{
    grid-row: 6/7;
    text-align: center;
  }
  
  .image4{
    grid-row: 7/8;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img[src*="../Pictures/space.png"]{
    width: 100%;
    height: auto;
  }
  img[src*="../Pictures/bearFirst.png"]{
    width: 190%;
    height: auto;
    border-radius: 20px;
  }

  nav ul {
    flex-wrap: wrap;
    display: block;
  }
  nav ul li a {
    display: block;

  }

} 
